@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

//Theme 1

$VerydarkdesaturatedblueMainBackground: hsl(222, 26%, 31%);
$VeryDarkDesaturatedBlueToggleBackground: hsl(223, 31%, 20%);
$VeryDarkDesaturatedBlueScreenBackground: hsl(224, 36%, 15%);


//Theme 2



//Theme 3
